.info1{
    font-family: e-ukraine,sans-serif;
    font-weight: 400;
    position: absolute;
    left: 24px;
    bottom: 20px;
    z-index: 0;
    background-color: #64CCC5;
    width: 300px;
    border: 2px solid #00ffee;
    border-radius: 5px;
}
.types1 {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.type1{
    font-family: e-ukraine,sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 30px;
    color: black;
}

.icon{
    font-family: e-ukraine,sans-serif;
    font-weight: 400;
    box-sizing: border-box!important;
    outline: none!important;
    -webkit-tap-highlight-color: transparent;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    position: relative;
    margin: 0 8px 0;
    background: rgb(185, 0, 0);
}

.icon-none{
    font-family: e-ukraine,sans-serif;
    font-weight: 400;
    box-sizing: border-box!important;
    outline: none!important;
    -webkit-tap-highlight-color: transparent;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    position: relative;
    margin: 0 8px 0;
    background: rgb(8, 93, 105);
}