.general-button{
    font-family: e-ukraine,sans-serif;
    font-weight: 400;
    box-sizing: border-box!important;
    outline: none!important;
    -webkit-tap-highlight-color: transparent;
    min-width: 100px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 12px;
    top: 16px;
    background: #2a2d31;
    padding: 8px 8px 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    -webkit-transition: min-width .3s ease;
}

.dangers-info{
    font-family: e-ukraine,sans-serif;
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box!important;
    outline: none!important;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
}

.icon1{
    box-sizing: border-box!important;
    outline: none!important;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 0;
    background: 0 0;
    border: none;
    box-shadow: none;
    font-family: inherit;
    cursor: pointer;
}

 .general-aside {
    width: 468px;
    height: calc(100% - 80px);
    position: absolute;
    z-index: 2;
    right: 12px;
    top: 70px;
    background: #2a2d31;
    transition: opacity .3s ease,transform .3s ease;
    -webkit-transition: opacity .3s ease,transform .3s ease;
    transform: translateX(110%);
    border-radius: 0 0 6px 6px;
    padding-right: 16px;
    opacity: 0;
}

.city-items{
    font-family: e-ukraine,sans-serif;
    font-weight: 400;
    box-sizing: border-box!important;
    outline: none!important;
    -webkit-tap-highlight-color: transparent;
    align-items: flex-start;
    padding: 16px 0;
    border-bottom: 1px solid #3f4246;
    border-top: 1px solid #3f4246;
    display: none;
}

.city-item{
    font-family: e-ukraine,sans-serif;
    font-weight: 400;
    box-sizing: border-box!important;
    outline: none!important;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: flex-start;
    padding: 16px 0;
    border-bottom: 1px solid #3f4246;
    border-top: 1px solid #3f4246;
}